body, html {
	width: 100%;
	min-width: 888px;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

	table th, table td {
		padding: 5px;
		border: 1px solid #DBDEE3;
	}

	table th {
	}

/* 表格表头 */
.dtxypj-info .thead th {
	background-color: #E6F0F9;
}
.dtxypj-info .thead th:first-child {
	width: 87%;
	min-width: 765px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	.dtxypj-info .thead th:first-child span {
		width: 50px;
		display: inline-block;
		cursor: pointer;
	}

.dtxypj-info .thead th:last-child {
	width: 13%;
	min-width: 100px;
	text-align: left;
}
/* 表格内容 */
.dtxypj-info .tbody thead td {
	background-color: #F3F1F2;
}
/*偶数2、4、6*/
.dtxypj-info .tbody tbody tr.even {
	background-color: #FFF;
}
/*奇数1、3、5*/
.dtxypj-info .tbody tbody tr.odd {
	background-color: #F6F9FF;
}

.dtxypj-info .tbody tbody tr:hover {
	background-color: #FEFECB;
}
.dtxypj-info .tbody td:nth-child(1) { /*序号*/
	width: 5%;
	min-width: 40px;
}

.dtxypj-info .tbody td:nth-child(2) { /*名称*/
	width: 21%;
	min-width: 199px;
}

.dtxypj-info .tbody td:nth-child(3) { /*编号金额*/
	width: 15%;
	min-width: 100px;
}

.dtxypj-info .tbody td:nth-child(4) { /*信息登载日期*/
	width: 13%;
	min-width: 100px;
}

.dtxypj-info .tbody td:nth-child(5) { /*评价得分*/
	width: 10%;
	min-width: 80px;
}

.dtxypj-info .tbody td:nth-child(6) { /*评价有效期*/
	width: 10%;
	min-width: 80px;
}

.dtxypj-info .tbody td:nth-child(7) { /*评价起计日期*/
	width: 13%;
	min-width: 100px;
}

.dtxypj-info .tbody td:nth-child(8) { /*评价结束日期*/
	width: 13%;
	min-width: 100px;
}

.dtxypj-info .tbody td {
	text-align: center;
}